<%= render 'layouts/nav' %>

<h1>Index</h1>

  <% @movies.each do |movie| %>
    <h2><%= link_to movie.title, movie_path(movie) %></h2>
    <%= movie.year %>
    <%= movie.description %>
    <%= movie.director %>
    <% end %>
